body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.orange-square{
    background-color: #f6c037;
    width: 500px;    
    height: 500px;

}

.inner-text{
    color: #ffffff;
    background-color: #94f68d;
    font-size: 25px;
    font-family: monospace; 
    font-weight: bold;
    margin: 0;
}

.green-square{
    background-color: #33ff00;
    width: 50%;
    height: 50%;

}

.blue-rectangle{
    background-color: rgb(31, 59, 110); 
    width: 50%;
    height: 25vh;
}
    
.red-rectangle{
    background-color: rgb(129, 50, 50); 
    width: 75vw; 
    height: 50%;
}
    